.gray-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100&1+0,0.5+100;Grey+Pipe */
    background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,0.9) 21%, rgba(184,186,198,0.76) 49%, rgba(221,223,227,0.6) 80%, rgba(245,246,246,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.9) 21%,rgba(184,186,198,0.76) 49%,rgba(221,223,227,0.6) 80%,rgba(245,246,246,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.9) 21%,rgba(184,186,198,0.76) 49%,rgba(221,223,227,0.6) 80%,rgba(245,246,246,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#80f5f6f6',GradientType=0 ); /* IE6-9 */
}

.page-section {
    height: 900px;
}

h1 {
    font-family: 'Cinzel', serif;
    color: antiquewhite;
}

.dark-overlay {
    background: rgba(0,0,0,0.6);
}

#navbar {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 45px;
}

.navbar-nav>li>a {
    color: #444 !important;
}

hr {
    border: 0px;
    height: 5px;
    margin-top: 12px;
    margin-bottom: 6px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100&0+0,1+25,1+77,0+100 */
    background: -moz-linear-gradient(-45deg,  rgba(255,183,107,0) 0%, rgba(255,175,84,1) 25%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,126,2,1) 77%, rgba(255,127,4,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(255,183,107,0) 0%,rgba(255,175,84,1) 25%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,126,2,1) 77%,rgba(255,127,4,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(255,183,107,0) 0%,rgba(255,175,84,1) 25%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,126,2,1) 77%,rgba(255,127,4,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffb76b', endColorstr='#00ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.jumbotron {
    font-family: 'Cinzel', serif;
    background: rgba(0,0,0,0.2);
    margin: 145px 100px 30px 100px;
    color: antiquewhite;
    text-shadow: 5px 4px #000;
    border-radius: 50px !important;
}


.jumbotron h3 {
    text-shadow: 3px 2px #000;
    position: relative;
    left: 70px;
}

.panel {
    font-family: 'Molengo', sans-serif;
    color: antiquewhite;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    position: relative;
}

.margin-100 {
    margin: 60px;
}

.btn-purple {
    color: azure;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d5dbf+0,ad1283+50,b539a2+100 */
    background: rgb(157,93,191); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(157,93,191,1) 0%, rgba(173,18,131,1) 50%, rgba(181,57,162,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(157,93,191,1) 0%,rgba(173,18,131,1) 50%,rgba(181,57,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(157,93,191,1) 0%,rgba(173,18,131,1) 50%,rgba(181,57,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d5dbf', endColorstr='#b539a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 3px 2px 2px #000;
    -webkit-transition: color 0.3s, box-shadow 0.3s; /* Safari */
    transition: color 0.3s, box-shadow 0.3s;
}

.btn-purple:hover {
    box-shadow: 7px 5px 8px #000;
    color: burlywood;
}

.panel h3,h4 {
    line-height: 32px;
}

#section1 {
    background: #7612A8 url("https://dl.dropboxusercontent.com/u/49722688/images/night_fishing.webp") no-repeat fixed right;
}

#section2 {
    background: #6B510B url("https://dl.dropboxusercontent.com/u/49722688/images/japan_maple.webp") no-repeat fixed center;
}

#section3 {
    background: #000 url("https://dl.dropboxusercontent.com/u/49722688/images/stone_aisle_red.webp") fixed center;
}

#section4 {
    padding: 100px;
    background: #008 url("https://dl.dropboxusercontent.com/u/49722688/images/girl_sunset.webp") no-repeat fixed right;
}

#footer {
/*    background: #aaa;*/
    height: 50px;
}

#link-list {
    font-family: 'Quantico', sans-serif;
/*    font-family: 'Molengo', sans-serif;*/
    color: antiquewhite;
    list-style-type: none;
    border-radius: 20px;
    padding-bottom: 20px;
}

a {
    color: antiquewhite;
}

a:hover {
    color: coral;
}

.hidden-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.3s; /* Safari */
    transition: opacity 0.3s;
}

.panel:hover > .hidden-info {
    opacity: 1;
    background: rgba(0,0,0,0.8);
}

.btn-custom-brown {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d88847+0,c16c17+24,8e4c01+68,bf6e4e+100 */
    background: rgb(216,136,71); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(216,136,71,1) 0%, rgba(193,108,23,1) 24%, rgba(142,76,1,1) 68%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(216,136,71,1) 0%,rgba(193,108,23,1) 24%,rgba(142,76,1,1) 68%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(216,136,71,1) 0%,rgba(193,108,23,1) 24%,rgba(142,76,1,1) 68%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88847', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 */
}
